{{extend 'layout.html'}}
<!--todo -add padding to progress bar -->

<!-- Page Content -->
<div class="container" id="practice_cards">

    <!-- Page Heading -->

    <h1 style="position: relative; color:white" class="my-4">
        <div class="card" style="background-color: #0A698C;">
            <b>
                <img style="right: 10px; width:60px; height:60px;" class="rounded"
                     src="{{=get_gravatar(tagout.email)}}">&nbsp;{{if auth.is_logged_in():}}{{=tagout.first_name}} {{=tagout.last_name}}{{else:}}
                Guest{{pass}}
                {{if my_role in ["admin", "trainer"]:}}
                <div class="dropdown pull-right dropright" style="position: relative; right: 5px; bottom: 5px;">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Switch Profile
                    </button>
                {{usrs = db(db.auth_user.id>0).select()}}

                    <div style="position: relative;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <div class="dropdown-divider"></div>
                    {{for usr in usrs:}}
                        {{users = filter(lambda e: db(db.role.owner_id==e.id).select(orderby=db.role.id).last() in ["admin", "trainer"], usrs)}}
                        <a class="dropdown-item" href="{{=URL(vars=dict(tagout=usr.id))}}"> <img
                                style="position: relative; right: 5px; width:30px; height:30px;" class="rounded"
                                src="{{=get_gravatar(usr.email)}}">{{=usr.last_name}}, {{=usr.first_name}}</a>
                    {{pass}}
                    </div>
                    {{pass}}
                </div>
            </b>
        </div>
</h1>
        <div class="row">


             <div class="col-lg-6" style="text-align: left;">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link {{if request.vars['filter']=='renewal':}}active{{pass}}" href="{{=URL(args=request.args, vars=dict(filter="renewal"))}}">Renewal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{if request.vars['filter']=='initial':}}active{{pass}}" href="{{=URL(args=request.args, vars=dict(filter="initial"))}}">Initial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{if not request.vars['filter']:}}active{{pass}}" href="{{=URL(args=request.args)}}">All</a>
                    </li>
                </ul>
             </div>

            <div class="col-lg-6" style="text-align: right;">
               <a href="#" class="btn btn-sm btn-danger" data-toggle="modal"
                               data-target="#exampleModal">ADD PRACTICE <i class="fa faa-pulse animated fa-plus-circle" aria-hidden="true"></i> </a>
            </div>

        </div>
<p></p>

    <!-- Modal Headers -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="min-height:800px;">
        <div class="modal-dialog" role="document">

        {{=practice_form.custom.begin}}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Practice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            Renewal?
                        </div>
                        <div class="col-md-7 col-sm-12">
                        {{=practice_form.custom.widget.is_renewal}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            Practice
                        </div>
                        <div class="col-md-7 col-sm-12">
                        {{=practice_form.custom.widget.practice_name}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            Providers
                        </div>
                        <div class="col-md-7 col-sm-12">
                        {{=practice_form.custom.widget.providers}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            IM Client?
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <input type="checkbox" class="form-check-input"
                                   id="imclientcheck">
                        </div>
                    </div>
                    <br>
                    <div class="row imclientinfo hidden">
                        <div class="col-md-5 col-sm-12">
                            <i class='fa fa-fw fa-user'></i> App Tool Username
                        </div>
                        <div class="col-md-7 col-sm-12">
                        {{=practice_form.custom.widget.app_tool_username}}
                        </div>
                    </div>
                    <br>
                    <div class="row imclientinfo hidden">
                        <div class="col-md-5 col-sm-12">
                            <i class='fa fa-fw fa-unlock-alt'></i> App Tool Password
                        </div>
                        <div class="col-md-7 col-sm-12">
                        {{=practice_form.custom.widget.app_tool_password}}
                        </div>
                    </div>
                    <br>
                    <div class="row imclientinfo hidden">
                        <div class="col-md-5 col-sm-12">
                            <i class='fa fa-fw fa-id-card'></i> Survey Tool Username
                        </div>
                        <div class="col-md-7 col-sm-12">
                        {{=practice_form.custom.widget.survey_tool_password}}
                        </div>
                    </div>
                    <br>
                    <div class="row imclientinfo hidden">
                        <div class="col-md-5 col-sm-12">
                            <i class='fa fa-fw fa-id-card-o'></i> Survey Tool Password
                        </div>
                        <div class="col-md-7 col-sm-12">
                        {{=practice_form.custom.widget.survey_tool_password}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                {{=practice_form.custom.submit}}
                </div>
            </div>
        {{=practice_form.custom.end}}
        </div>
    </div>
    <div class="modal fade" id="trainer_assign_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="min-height:700px;">
        <div class="modal-dialog modal-lg" id="trainer_assign_content" role="document">
            <div class="modal-content">
                Loading...
            </div>
        </div>
    </div>
{{for emr_form_id in emr_forms:}}
{{emr_form = emr_forms[emr_form_id]}}
    <div class="modal fade" id="emr_form_{{=emr_form_id}}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="min-height:950px;">
        <div class="modal-dialog" role="document">
        {{=emr_form.custom.begin}}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EMR Access</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-desktop'></i> EMR</div>
                        <div class="col-md-7 col-sm-12">{{=emr_form.custom.widget.emr}} </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-envelope-o'></i> Username</div>
                        <div class="col-md-7 col-sm-12">{{=emr_form.custom.widget.emr_email}} </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-unlock-alt'></i> Password</div>
                        <div class="col-md-7 col-sm-12">{{=emr_form.custom.widget.emr_password}} </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 col-sm-12"><b><i
                                class='fa faa-flash animated fa-fw fa-exclamation-triangle' style="color: red;"></i> EMR
                            Error</b></div>
                        <p>
                        <div class="col-md-7 col-sm-12">{{=emr_form.custom.widget.emr_problem}} </div>
                    </div>
                    <br>
                    <hr>
                    <h5>EMR Directions</h5>
                    <br>
                {{=emr_form.custom.widget.emr_directions}}
                    <p>


                    <hr>
                    <h5>Team Viewer</h5>
                    <p>
                    <div class="row">
                        <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-users'></i> Team Viewer</div>
                        <div class="col-md-7 col-sm-12">{{=emr_form.custom.widget.emr_teamviewer}}</div>
                    </div>

                </div>
                <div class="modal-footer">
                {{=emr_form.custom.submit}}
                </div>
            </div>
        {{=emr_form.custom.end}}
        </div>
    </div>
{{pass}}
{{for cc_form_id in cc_forms:}}
{{cc_form = cc_forms[cc_form_id]}}
    <div class="modal fade" id="cc_form_{{=cc_form_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="min-height:1000px;">
        <div class="modal-dialog modal-lg" role="document">
        {{=cc_form.custom.begin}}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Credit Card Info</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <h5 style="color: blue"> Sending Check: </h5>
                    <h6 class="form-check">{{=cc_form.custom.widget.payment_is_check}}</h6>
                    <hr>
                    <h5 style="color: blue"> Application Fee: </h5>
                    <h6 class="form-check">New Application Process Fee (per provider) -
                        {{="$%0.2f"%(len(cc_forms_meta[cc_form_id]['practice'].providers) * 500)}}{{if not cc_forms_meta[cc_form_id]['practice'].is_renewal:}}<i class="fa fa-fw fa-check text-success"></i>{{pass}}</h6>
                    <h6 class="form-check">Renewal Application Process Fee (per provider)
                        {{="$%0.2f"%(len(cc_forms_meta[cc_form_id]['practice'].providers) * 120)}}{{if cc_forms_meta[cc_form_id]['practice'].is_renewal:}}<i class="fa fa-fw fa-check text-success"></i>{{pass}}</h6>
                    <hr>
                    <div class="row credit-card-form">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-user'></i> First Name</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_first_name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-user-o'></i> Last Name</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_last_name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-cc-visa'></i> Card Type</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_type}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-credit-card'></i> Account #</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_number}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-calendar'></i> Expiration Year
                                </div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_expiration_year}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-calendar'></i> Expiration Month
                                </div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_expiration_month}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-credit-card-alt'></i> CVV #</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_cvv}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-home'></i> Street</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_street}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-location-arrow'></i> State</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_state}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"><i class='fa fa-fw fa-map-marker'></i> Zip</div>
                                <div class="col-md-7 col-sm-12">{{=cc_form.custom.widget.credit_card_zip}}</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                {{=cc_form.custom.submit}}
                </div>
            </div>
        {{=cc_form.custom.end}}
        </div>
    </div>
{{pass}}
{{for baa_form_id in baa_forms:}}
{{baa_form = baa_forms[baa_form_id]}}
    <div class="modal fade" id="baa_form_{{=baa_form_id}}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="min-height:700px;">
        <div class="modal-dialog" role="document">
        {{=baa_form.custom.begin}}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Business Associates Agreement & Documents</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <h6><i class="fa fa-download" aria-hidden="true"></i>&nbsp; Please Download BAA Template</h6>


                    <a href="{{=URL('static','policy/baa/Insight_PCMH_BAA_FORM.DOC')}}">Business Associates Agreement
                        </a><p></p>
                    <hr>
                     <h6><i class="fa fa-download" aria-hidden="true"></i>&nbsp; Please Download Commitment Letter</h6>
                    <a href="{{=URL('static','policy/PCMH_Commitment_Letter_Revised.pdf')}}">Commitment Letter
                        Template</a>

                    <hr>

                {{for baa_link in  baa_links[baa_form_id]:}}
                    <br><i class="fa fa-file-o fa-fw"></i><a href="{{=URL(f='nt_download', args=baa_link["file_upload"])}}"><i>{{=baa_link["file_name"]}}</i></a><br><br>
                {{pass}}
                {{=baa_form.custom.widget.file_name}}
                {{=baa_form.custom.widget.file_upload}}


                </div>
                <div class="modal-footer">
                {{=baa_form.custom.submit}}
                </div>
            </div>
        {{=baa_form.custom.end}}
        </div>
    </div>
{{pass}}

    <div class="modal fade" id="practice_info_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-height:1000px;">
        <div id="practice_info_content" class="modal-dialog modal-lg" role="document">
            loading...
        </div>
    </div>

    <!-- Card Body -->
    <div class="row" class="list">
    {{for i, each in enumerate(practices):}}
    {{practice_id = each.id}}
        <div class="col-lg-3 col-md-6 portfolio-item">
            <div class="card h-60" style="box-shadow: 10px 10px 5px grey; background-color:{{if each.is_renewal:}}#c8f6fc{{else:}}white{{pass}};">
                <div class="row">
				<div class="col-sm-6">
				<div class="{{if red_bells[int(each.id)]:}}text-danger{{pass}}" style="text-align: left;"><i class="fa  fa-fw fa-bell-o"></i></div>
				</div>
				<div class="col-sm-6">
				<div style="text-align: right;"><a href="{{=URL("delete_practice", args=[each.id])}}"
                                                   class="text-secondary confirmation "><i
                        class="fa faa-burst faa-fast animated-hover fa-fw fa-times-circle-o"></i></a></div>
				</div>

				</div>

                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="practice_name" data-placement="auto" data-toggle="modal"
                           data-target="#practice_info_modal"
                           title="Practice Information" data-html="true"
                        onclick="web2py_component('{{=URL(f='process_practice_info_form.load', args=[each.id], scheme=True)}}', 'practice_info_content');">

                        {{=each.practice_name}}
                        </a>
                    </h5>
                    <hr>
                    <h6 class="card-title">
                        <span class="provider_names">{{=', '.join(each.providers or [])}}</span></h6>
                    <hr>
                    <div class="row" style="text-align: center;">

                        <div class="col-sm-3">
                            <button type="button" class="btn btn-sm btn-success faa-parent animated-hover"
                                    data-toggle="modal" title="Administrator"
                                    data-target="#trainer_assign_modal" onclick="web2py_component('{{=URL(f='process_admin_form.load', args=[each.id], scheme=True)}}', 'trainer_assign_content');">
                                <i class="fa  faa-bounce fa-fw fa-smile-o"></i>
                            </button>
                        </div>

                        <div class="col-sm-3">
                            <button type="button"
                                    class="btn btn-sm btn-{{if emr_forms_green[each.id]:}}success{{else:}}danger{{pass}} faa-parent animated-hover"
                                    data-toggle="modal" title="EMR Access"
                                    data-target="#emr_form_{{=each.id}}"><i class="fa faa-flash fa-fw fa-desktop"></i>
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-sm btn-{{if cc_forms_meta[each.id]['green']:}}success{{else:}}danger{{pass}} faa-parent animated-hover"
                                    data-toggle="modal" title="Credit Card Info"
                                    data-target="#cc_form_{{=each.id}}"><i
                                    class="fa faa-horizontal fa-fw fa-credit-card"></i></button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button"
                                    class="btn btn-sm btn-{{if baa_links[each.id]:}}success{{else:}}danger{{pass}} faa-parent animated-hover"
                                    data-toggle="modal" title="BAA Agreement"
                                    data-target="#baa_form_{{=each.id}}"><i
                                    class="fa  faa-shake fa-fw fa-briefcase"></i></button>
                        </div>
                    </div>

                    <hr>

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-12">

                            <canvas id="barChart_{{=each.id}}" style="max-width: 500px;"></canvas>
                        {{import random}}
                            <script>

                                var ctxB = document.getElementById("barChart_{{=each.id}}").getContext('2d');
                                var myBarChart = new Chart(ctxB, {
                                    type: 'bar',
                                    data: {
                                        {{if not each.is_renewal:}}
                                        labels: ["Gap", "Staff", "Provider"],
                                        {{else:}}
                                        labels: ["Staff", "EMR"],
                                        {{pass}}
                                        datasets: [{
                                            //label: '# of Votes',
                                            {{if not each.is_renewal:}}
                                            data: [{{="%0.2f"%_get_progress_by_practice(practice_id, "gap")["percent"]}}, {{="%0.2f"%_get_progress_by_practice(practice_id, "front")["percent"]}}, {{="%0.2f"%_get_progress_by_practice(practice_id, "provider")["percent"]}}],
                                            {{else:}}
                                            data: [{{="%0.2f"%_get_progress_by_practice(practice_id, "staff")["percent"]}}, {{="%0.2f"%_get_progress_by_practice(practice_id, "emr")["percent"]}}],
                                            {{pass}}
                                            backgroundColor: [
                                                'rgba(165, 0, 255, .5)',
                                                'rgba(27, 103, 226, .5)',
                                            {{if each.is_renewal:}}
                                                'rgba(255, 119, 0, .5)'
                                            {{pass}}
                                            ],
                                            borderColor: [
                                                'rgba(165, 0, 255)',
                                                'rgba(27, 103, 226)',
                                            {{if each.is_renewal:}}
                                                'rgba(255, 119, 0)'
                                            {{pass}}
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        legend: {
                                            display: false
                                        },
                                        scales: {

                                            xAxes: [{
                                                gridLines: {
                                                    drawBorder: false,
                                                    display: false
                                                }

                                            }],

                                            yAxes: [{
                                                gridLines: {
                                                    drawBorder: false,
                                                    display: false
                                                },

                                                ticks: {
                                                    display: false,
                                                    suggestedMax: 1
                                                }

                                            }]
                                        }
                                    }
                                });
                            </script>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6"><a type="button" class="btn btn-sm btn-warning"
                                                 href="{{=URL('dashboard', vars=dict(practice=each.id, section=("gap" if not each.is_renewal else "staff") or session.section))}}"><b>DASHBOARD</b></a>
                        </div>

                        <div class="col-lg-6">
                            <button type="button" class="btn btn-sm btn-primary faa-parent animated-hover pull-right"
                                    data-toggle="modal" title="Send Message"
                                    data-target="#message_form_{{=each.id}}"><i class="fa faa-tada fa-fw fa-comment"></i></button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    {{pass}}
    </div>
    <!-- /.row -->



<div class="text-center">
  <ul class="pagination">
    <li class="page-item">
        {{if page:}}
      <a class="page-link" href="{{=URL(vars=request.vars, args=[page-1])}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
        {{pass}}
    </li>
      {{for pg in range(int(pages)):}}
    <li class="page-item"><a class="page-link" href="{{=URL(vars=request.vars, args=[pg])}}">{{=pg+1}}</a></li>
      {{pass}}
    <li class="page-item">
        {{if len(practices)>items_per_page:}}
      <a class="page-link" href="{{=URL(vars=request.vars, args=[page+1])}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
        {{pass}}
    </li>
  </ul>
</div>


</div>
    <!-- Pagination -->

<!-- /.container -->


<div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="min-height:700px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment Update</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>Canceled</option>
                        <option>Rescheduled</option>
                        <option>Custom</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea placeholder=" Message here..." class="form-control" rows="5" id="comment"></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>

{{for message_form_id in message_forms:}}
{{message_form = message_forms[message_form_id]}}
{{message_link_id = message_form_id}}
<div class="modal fade" id="message_form_{{=message_form_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="min-height: 1000px;">
    <div class="modal-dialog modal-lg" role="document" >
        {{=message_form.custom.begin}}
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="max-height: 300px; overflow-y: scroll;">
                {{for msg in message_links[message_link_id]:}}
                    <hr><b>{{=getattr(db(db.auth_user.id == msg.created_by).select().last(), "first_name", "N/A")}}<b>:</b></b> <br> <i>{{=msg.subject}}</i><br>{{=msg.message_}}<br>{{=msg.modified_on}}
                {{pass}}
                    </div>
                <hr>
                <span style="position: relative; bottom: 5px;">Subject:&nbsp;</span>{{=message_form.custom.widget.subject}}
                <div class="form-group">Message:&nbsp;
                    {{=message_form.custom.widget.message_}}
                </div>
                <div class="modal-footer">
                    {{=message_form.custom.submit}}
                </div>
            </div>
        </div>
        {{=message_form.custom.end}}
    </div>
</div>
{{pass}}

{{block scripts}}
{{super}}
<script>
    $(function () {
        $('.imclientinfo').hide();
    });
    $("#imclientcheck").on('change', function () {
        if (this.checked) {
            $(".imclientinfo").slideDown();
        } else if (this.checked === false) {
            $(".imclientinfo").slideUp();
        }
    });
</script>


<script>
    $(function () {
        //$('.credit-card-form').hide();
    });
    $("[name='payment_is_check']").on('change', function () {
        if (!this.checked) {
            $(".credit-card-form").slideDown();
        } else if (!this.checked === false) {
            $(".credit-card-form").slideUp();
        }
    });
</script>

<!-- Include jQuery - see http://jquery.com -->
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>
<script type="text/javascript">
    //https://github.com/davidstutz/bootstrap-multiselect/issues/741
    $(document).ajaxComplete(function () {
        $('[multiple="multiple"]').multiselect({
            templates: {
                li: '<li><a class="dropdown-item"><label class="m-0 pl-2 pr-0"></label></a></li>',
                ul: ' <ul class="multiselect-container dropdown-menu p-1 m-0"></ul>',
                button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown" data-flip="false"><span class="multiselect-selected-text"></span> <b class="caret"></b></button>',
                filter: '<li class="multiselect-item filter"><div class="input-group m-0"><input class="form-control multiselect-search" type="text"></div></li>',
                filterClearBtn: '<span class="input-group-btn"><button type="button" class="btn btn-secondary multiselect-clear-filter">&times;</button></span>'
            },
            buttonContainer: '<div class="dropdown" />',
            buttonClass: 'btn btn-secondary',
            enableFiltering: true,
            maxHeight: 200,
            enableCaseInsensitiveFiltering: true
        });
    });
</script>
{{end}}

{{block page_head}}
{{super}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
<script src="{{=URL('static','js/bootstrap-multiselect.js')}}"></script>
<link href="{{=URL('static', 'css/bootstrap-multiselect.css')}}" rel="stylesheet">
{{end}}