


    <!-- Page Content -->
    <div class="container">
		<h2> &nbsp; </h2>
		      	<div class="card" class="dropdown dropright" style="text-align: center;">


				<button type="button" class="btn btn-sm btn-warning pull-left" data-toggle="modal" data-target="#exampleModal" style="text-align: pull-left; position: absolute; left: 5px; top: 5px;"><b><i class="fa fa-fw fa-download" style="color: black;"></i>&nbsp;Download All</b></button>

				<h3><i class="fa fa-fw fa-list" style="color: black;"></i>&nbsp;TEMPLATE LIBRARY</h3>





		</div>
		<h2> &nbsp; </h2>

		<div class="row">

			<div class="col-lg-4">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center; color: blue;"><b>Team-Based Care and Practice Organization (TC)</b></h5>
					</div>
							<div class="list-group" style="max-height: 360px; overflow-y: scroll; position: relative;">

								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-01</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">AvailabilityofAppointments.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

								<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-02</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-03</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
									<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-04</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
									<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-05</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
									<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-06</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
									<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-07</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8;">
										<div class="col-lg-6"><h5 class="pull-left">TC-08</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">TC-09</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
							</div>
					<div class="card-body" >
							<a href="#" class="card-link"><i class="fa fa-fw fa-download"></i> Download All</a>
							<a href="#" class="card-link"><i class="fa fa-fw fa-paper-plane-o"></i> Send All</a>
					</div>
				</div>

			</div>
				<div class="col-lg-4">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title" style="text-align: center; color: blue;"><b>Knowing and Managing Your Patients (KM)</b></h5>
						</div>
							<div class="list-group" style="max-height: 360px; overflow-y: scroll; position: relative;">

								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-01</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#editScript"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>

									<button type="button" class="btn btn-sm btn-warning pull-left" data-toggle="modal" data-target="#editScript" style="text-align: left; position: absolute; left: 7px; top: 13px;"><b>Availability of Appointments</b></button>

								</li>

								<li class="list-group-item list-group-item-action">

								<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-02</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</div>
								</li>



								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-03</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>

								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-04</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>

								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-05</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>

								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-06</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>

								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-07</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>

								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">KM-08</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>

								</li>




							</div>

					<div class="card-body" >
							<a href="#" class="card-link"><i class="fa fa-fw fa-download"></i> Download All</a>
							<a href="#" class="card-link"><i class="fa fa-fw fa-paper-plane-o"></i> Send All</a>
					</div>
				</div>

				&nbsp;
			</div>

			<div class="col-lg-4">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center; color: blue;"><b>Patient-Centered Access and Continuity (AC)</b></h5>
					</div>
							<div class="list-group" style="max-height: 360px; overflow-y: scroll; position: relative;">

								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 3A</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">AvailabilityofAppointments.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

								<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 3B</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 3C</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
										<li class="list-group-item list-group-item-action">

										<div class="row" style="background-color: #E6FFD8">
											<div class="col-lg-6"><h5 class="pull-left">Section 3D</h5></div>

											<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
										</div>
									<hr>
										<div class="row">
											<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


										</div>
										<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 3E</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>

								</li>



							</div>
					<div class="card-body" >
							<a href="#" class="card-link"><i class="fa fa-fw fa-download"></i> Download All</a>
							<a href="#" class="card-link"><i class="fa fa-fw fa-paper-plane-o"></i> Send All</a>
					</div>
				</div>

			</div>

			<div class="col-lg-4">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center; color: blue;"><b>Care Management and Support (CM)</b></h5>
					</div>
							<div class="list-group" style="max-height: 360px; overflow-y: scroll; position: relative;">

								<li class="list-group-item list-group-item-action">

								<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 4A</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 4B</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 4C</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>



							</div>
					<div class="card-body" >
							<a href="#" class="card-link"><i class="fa fa-fw fa-download"></i> Download All</a>
							<a href="#" class="card-link"><i class="fa fa-fw fa-paper-plane-o"></i> Send All</a>
					</div>
				</div>

			</div>
			<div class="col-lg-4">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center; color: blue;"><b>Care Coordination and Care Transitions  (CC)</b></h5>
					</div>
							<div class="list-group" style="max-height: 360px; overflow-y: scroll; position: relative;">

								<li class="list-group-item list-group-item-action">

								<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 5A</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 5B</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 5C</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>



							</div>
					<div class="card-body" >
							<a href="#" class="card-link"><i class="fa fa-fw fa-download"></i> Download All</a>
							<a href="#" class="card-link"><i class="fa fa-fw fa-paper-plane-o"></i> Send All</a>
					</div>
				</div>

			</div>
			<div class="col-lg-4">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center; color: blue;"><b>Performance Measurement and Quality Improvement (QI)</b></h5>
					</div>
							<div class="list-group" style="max-height: 360px; overflow-y: scroll; position: relative;">

								<li class="list-group-item list-group-item-action">

								<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 6A</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 6B</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 6C</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>
								<li class="list-group-item list-group-item-action">

									<div class="row" style="background-color: #E6FFD8">
										<div class="col-lg-6"><h5 class="pull-left">Section 6D</h5></div>

										<div class="col-lg-6"><button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#commentModal"><i class="fa fa-fw fa-plus"></i></button></div>
									</div>
									<hr>
									<div class="row">
										<a href="/images/myw3schoolsimage.jpg" download="w3logo">DailyHuddle.doc</a>


									</div>
								</li>


							</div>
					<div class="card-body" >
							<a href="#" class="card-link"><i class="fa fa-fw fa-download"></i> Download All</a>
							<a href="#" class="card-link"><i class="fa fa-fw fa-paper-plane-o"></i> Send All</a>
					</div>
				</div>

			</div>
		 </div>
	</div>
		<h2> &nbsp; </h2>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; George Dewey & Himel Das 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="huddle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">New Document</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <form method="POST" action="#" enctype="multipart/form-data">
		<!-- COMPONENT START -->
		<div class="form-group" style="padding: 15px;">
			<div class="input-group input-file" name="Fichier1">
				<input type="text" class="form-control" placeholder='Choose a file...' />
				<span class="input-group-btn">
					<button class="btn btn-default btn-choose" type="button">Choose</button>
				</span>


			</div>
		</div>

		<!-- COMPONENT END -->
		<div class="form-group" style="padding: 15px;">
			<button type="submit" class="btn btn-primary pull-right" disabled>Submit</button>
			<button type="reset" class="btn btn-danger">Reset</button>
		</div>
	</form>
	</div>
		</div>
</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">New Document</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <form method="POST" action="#" enctype="multipart/form-data">
		<!-- COMPONENT START -->
		<div class="form-group" style="padding: 15px;">
			<div class="input-group input-file" name="Fichier1">
				<input type="text" class="form-control" placeholder='Choose a file...' />
				<span class="input-group-btn">
					<button class="btn btn-default btn-choose" type="button">Choose</button>
				</span>


			</div>
		</div>

		<!-- COMPONENT END -->
		<div class="form-group" style="padding: 15px;">
			<button type="submit" class="btn btn-primary pull-right" disabled>Submit</button>
			<button type="reset" class="btn btn-danger">Reset</button>
		</div>
	</form>
	</div>
		</div>
</div>
<div class="modal fade" id="editScript" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	  <div class="modal-dialog" role="document"  style="max-height: 1000px; max-width: 750px;">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Edit Document</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <form method="POST" action="#" enctype="multipart/form-data">
		<!-- COMPONENT START -->
	<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">

<!-- Create the editor container -->
<div id="editor">

  <p><b>Saint James Medical Center</b></p>





<p><b>25 St. James Place New York, NY 10038</b><p>

<b>T: 917-304-0445, F: 212-233-6772</b>
<p>
<p>
<p>



<p>Date: 1/15/2017</p>



Dear Ms. Bond





Because your doctor cares about your health and well-being, this is a reminder that you are due for a screening. Our records show that you are eligible for Chlamydia screening. All women ages 16-25 are encouraged to have an annual Chlamydia screening. Chlamydia can affect anyone, and women may have Chlamydia with no symptoms.



We have made it convenient for you to have your Chlamydia screening. It involves a simple urine test. Dr. Ottaviano would like you to have this urine test done, and he has asked me to call you and ask that you come into our office within the next two weeks.



Just call our office at 917-304-0445 to schedule a time for you to come in.



Thanks for your cooperation in getting these tests done promptly. This will allow Dr. Ottaviano to better help you manage your health.



Sincerely,



Saint James Medical Center


  <p><br></p>
</div>