{{extend 'layout.html'}}

<!-- Page Content -->
<div class="container">
    <div class="card dropdown dropright" style="text-align: center;">
        <h4><i class="fa fa-fw fa-address-book-o" style="color: black;"></i>&nbsp;Profile List</h4>
    </div>
    {{=profiles_grid}}
</div>

<!-- /.container -->
{{for key in forms:}}
{{usr=forms[key][0]}}
<div class="modal fade" id="modal_{{=key}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="min-height:900px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- ROLE FORM -->
            {{role_form=forms[key][2]}}
            {{=role_form.custom.begin}}
            {{=role_form.custom.widget.role}}
            {{=role_form.custom.submit}}
            {{=role_form.custom.end}}
            <!-- END ROLE FORM -->
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

</div>
{{pass}}